<div class="invoice">
    <div class="header">
        <div class="company-block">
            {{#if creditor.hasLogo}}
            <img src="{{creditor.logo}}" class="company-logo" alt="">
            {{/if}}
            <div class="company-name">{{creditor.name}}</div>
        </div>
        <div class="meta">
            <span class="label">{{labels.invoice}}</span> {{invoice.number}}<br>
            <span class="label">{{labels.date}}</span> {{invoice.issueDate | date:"dd.MM.yyyy"}}<br>
            <span class="label">{{labels.due}}</span> {{invoice.dueDate | date:"dd.MM.yyyy"}}
        </div>
    </div>

    <div class="client">
        {{client.name}}<br>
        <span class="address">{{client.address}}</span>
    </div>

    {{#if invoice.hasSubject}}
    <div class="subject">{{invoice.subject}}</div>
    {{/if}}

    <table class="items">
        <thead>
            <tr>
                <th class="desc">{{labels.description}}</th>
                <th class="qty">{{labels.quantity}}</th>
                <th class="price">{{labels.price}}</th>
                <th class="total">{{labels.total}}</th>
            </tr>
        </thead>
        <tbody>
            {{#lineItems}}
            <tr>
                <td class="desc">{{description | markdown}}</td>
                <td class="qty">{{quantity | number:1}}</td>
                <td class="price">{{unitPrice | currency}}</td>
                <td class="total">{{amount | currency}}</td>
            </tr>
            {{/lineItems}}
        </tbody>
    </table>

    <div class="totals">
        <div class="row total-hours-row">
            <span>{{labels.totalHours}}</span>
            <span>{{invoice.totalHours | number:1}}</span>
        </div>
        <div class="row">
            <span>{{labels.subtotal}}</span>
            <span>{{invoice.subtotal | currency}}</span>
        </div>
        {{#if invoice.hasTax}}
        <div class="row">
            <span>{{labels.vat}} {{invoice.tax}}%</span>
            <span>{{invoice.taxAmount | currency}}</span>
        </div>
        {{/if}}
        {{#if invoice.hasDiscount}}
        <div class="row">
            <span>{{labels.discount}} {{invoice.discount}}%</span>
            <span>-{{invoice.discountAmount | currency}}</span>
        </div>
        {{/if}}
        <div class="row grand-total">
            <span>{{labels.total}} {{invoice.currency}}</span>
            <span>{{invoice.amount | currency}}</span>
        </div>
    </div>

    <div class="footer">
        <div>{{labels.iban}} {{creditor.iban}}</div>
        {{#if invoice.hasNotes}}
        <div class="notes">{{invoice.notes | markdown}}</div>
        {{/if}}
    </div>
</div>
