<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AptabaseAppKey</key>
	<string>A-EU-2072427913</string>
	<key>GHRepositoryOwner</key>
	<string>jorisnoo</string>
	<key>GHRepositoryName</key>
	<string>HarvestQRBill</string>
	<key>FeatureFlags</key>
	<dict>
		<key>customPDFTemplates</key>
		<true/>
	</dict>
</dict>
</plist>
